<!doctype html>
<html>

<head>
    <title>Hello, VueJS!</title>
    <style>
        [v-cloak]>* { display: none }
        [v-cloak]::before { content: "Loading…" }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="customerApp" v-cloak>
        <h1>{{appName}} <a href="index01.html">Vue Step by Step Code Tutorial</a></h1>
        <p>Right click the page, then <strong>View Page Source</strong> to view the source code.</p>

        <div v-show="view === 'tablelist'">
            <button type="button" @click="display('newform')">Add</button>
            <hr />
            <p>
                <input type="text" v-model="searchKeyword" placeholder="Search">
                <button @click="searchStudents">Go</button>
                <button v-show="searchKeyword !== ''" @click="getStudents">All</button>
            </p>
            <table>
                <thead>
                    <tr>
                        <th v-for="column in columnHeader">
                            {{column}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(students,index) in students">

                        <td>{{student.id}}</td>
                        <td><a href="#" @click="getStudents(index)">{{student.firstName}} {{student.lastName}}</a>
                        </td>
                        <td>{{student.gender}}</td>
                        <td>{{student.civilStatus}}</td>
                        <td>{{student.schoolLastAttended}}</td>
                        <td>{{student.courseId}}</td>

                        <td>
                            <button @click="editStudent(index)">Edit</button>
                            <button @click="deleteStudent(index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form v-show="view === 'newform'" @submit.prevent="postStudent" autocomplete="off">
            <h2>New</h2>
            <p>
                <label>First name</label>
                <input type="text" v-model="newItem.firstName" required />
            </p>
            <p>
                <label>Last name</label>
                <input type="text" v-model="newItem.lastName" required />
            </p>
            <p>
                <label>Gender</label>
                <input type="text" v-model="newItem.gender" />
            </p>
            <p>
                <label>Civil Status</label>
                <input type="text" v-model="newItem.civilStatus" />
            </p>
            <p>
                <label>School Last Graduated</label>
                <input type="text" v-model="newItem.schoolLastAttended" />
            </p>
            <p>
                <label>Course</label>
                <input type="text" v-model="newItem.courseId" />
            </p>
            <p>
                <button type="button" @click="display('tablelist')">Cancel</button>
                <button type="submit">Submit</button>
            </p>
        </form>

        <form v-show="view === 'editform'" @submit.prevent="updateStudent" autocomplete="off">
            <h2>Edit</h2>
            <p>
                <label>Id</label>
                <input type="text" v-model="editItem.id" readonly />
            </p>
            <p>
                <label>First name</label>
                <input type="text" v-model="editItem.firstName" required />
            </p>
            <p>
                <label>Last name</label>
                <input type="text" v-model="editItem.lastName" required />
            </p>
            <p>
                <label>Gender</label>
                <input type="text" v-model="editItem.gender" />
            </p>
            <p>
                <label>Civil Status</label>
                <input type="text" v-model="editItem.civilStatus" />
            </p>
            <p>
                <label>School Last Graduated</label>
                <input type="text" v-model="editItem.schoolLastAttended" />
            </p>
            <p>
                <label>Course</label>
                <input type="text" v-model="editItem.courseId" />
            </p>
            <p>
                <button type="button" @click="display('tablelist')">Cancel</button>
                <button type="submit">Save</button>
            </p>
        </form>

        <div v-show="view === 'detailview'">
            <h2>Details</h2>
            <button @click="display('tablelist')">Back</button>
            <dl>
                <dt>Id</dt>
                <dd>{{detailItem.id}}</dd>
                <dt>First Name</dt>
                <dd>{{detailItem.firstName}}</dd>
                <dt>Last Name</dt>
                <dd>{{detailItem.lastName}}</dd>
                <dt>Gender</dt>
                <dd>{{detailItem.gender}}</dd>
                <dt>Civil Status</dt>
                <dd>{{detailItem.civilStatus}}</dd>
                <dt>School Last Graduated</dt>
                <dd>{{detailItem.schoolLastAttended}}</dd>
                <dt>Course</dt>
                <dd>{{detailItem.courseId}}</dd>
                <dt>More Fields</dt>
                <dd>More Data</dd>
            </dl>
        </div>

    </div>

    <!-- Vue JS CDN https://unpkg.com/vue@2.6.10/dist/vue.min.js -->
    <script src="js/vue.min.js"></script>
    <!-- Axios CDN https://unpkg.com/axios@0.19.0/dist/axios.min.js -->
    <script src="js/axios.min.js"></script>
    <script>
        var contactApp = new Vue({
            el: '#customerApp',
            data: {
                baseUrl: "http://christianbasibasi10.somee.com",
                appName: "Student Web App",
                columnHeader: ['Id', 'StudentId','SubjectId', 'P1Grade', 'P2Grade','P3Grade', 'Action'],
                students: [],
                newItem: {},
                editItem: {},
                detailItem: {},
                searchKeyword: "",
                view: "tablelist"
            },
            methods: {
                display: function (v) {
                    this.view = v;
                },
                getStudents: function () {
                    axios.get(this.baseUrl + "/api/students")
                        .then(response => {
                            this.students = response.data;
                            this.searchKeyword = '';
                        });
                },
                postStudent: function () {
                    axios.post(this.baseUrl + "/api/students", this.newItem)
                        .then(response => {
                            //alert('Successfully added. Data: ' + JSON.stringify(response.data));
                            this.getStudents();
                            this.view = "tablelist";
                            this.newItem = {};
                        });
                },
                editStudent: function (index) {
                    axios.get(this.baseUrl + "/api/students/" + this.students[index].id)
                        .then(response => {
                            this.editItem = response.data;
                            this.view = 'editform';
                        });
                },
                updateStudent: function () {
                    axios.put(this.baseUrl + "/api/students", this.editItem)
                        .then(response => {
                            this.getStudents();
                            this.view = "tablelist";
                            this.editItem = {};
                        });
                },
                deleteStudent: function (index) {
                    var yes = confirm('Are you sure?');
                    if (yes) {
                        axios.delete(this.baseUrl + "/api/students/" + this.students[index].id)
                            .then(response => {
                                this.getStudents();
                            });
                    }
                },
                getStudents: function (index) {
                    this.detailItem = this.students[index];
                    axios.get(this.baseUrl + "/api/students/" + this.detailItem.id)
                        .then(response => {
                            this.detailItem = response.data;
                            this.students[index] = response.data;
                            this.view = "detailview";
                        });
                },
                searchStudents: function () {
                    if (this.searchKeyword) {
                        axios.get(this.baseUrl + "/api/students?keyword=" + this.searchKeyword)
                            .then(response => {
                                this.students = response.data;
                            });
                    }
                    else {
                        this.getStudents();
                    }
                }
            },
            mounted: function () {
                this.getStudents();
            }
        });

    </script>

</body>

</html>